header, footer{
    background-color: rgb(63, 63, 77);
    color: black;
    font-size: 1.4em;
    font-weight: bold;
}
body{
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1000px 1fr auto;
    margin: 0;
}
.menu{
    background-color: black;
    border-color: white;
    color: white;
    position: relative;
    right: 20px;
}
.menu:hover{
    border-color: grey;
    color: grey;

}
.name-registered{
    color: black;
    position: relative;
    left: 100px;
}
.error{
    color: red;
}
.button{
    background-color: black;
    border-color: white;
    color: white;
}
.movement{
    color: green
}