{% extends "base.html" %}

{% block section %}
    <section class="container">
        <h1>Lista de movimientos</h1>
        {% if data == [] %}
        <h3>No hay movimientos que mostrar</h3>
        <h3>Pulse comprar para comenzar a invertir</h3>
        {% else %}
        <table role="grid">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>From</th>
                    <th>Cantidad</th>
                    <th>To</th>
                    <th>Cantidad</th>
                    <th>Resultado</th>
                </tr>
            </thead>
            <tbody>
                {% for move in data %}
                <tr>
                    <td>{{move.date}}</td>
                    <td>{{move.time}}</td>
                    <td>{{move.base}}</td>
                    <td>{{move.amount_base}}</td>
                    <td>{{move.quote}}</td>
                    <td>{{move.amount_quote}}</td>
                    <td>{{move.amount_base/move.amount_quote}}</td>
                    <td></td>
                    <td>

                    </td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>

    </section>
{% endblock %}
