{% extends "base.html" %}

{% block section %}
    <section class="container">
        <h1>Comprar</h1>
        <form action="/purchase" method="POST" novalidate>

            <div class="grid">
                <label for="From">
                    Moneda De Entrada
                    <select id="From">
                        {% for coin in monedas %}
                          <option name = "From" value="{{ coin }}">{{ dataForm.base.label }}</option>
                        {% endfor %}
                        <option value = "0" selected>Seleccione una moneda...</option>
                    </select>
                </label>
                
          
                <label for="To">
                    Moneda De Salida 
                <select id="To" required>
                    {% for coin in monedas %}
                    <option name = "To" value="{{ coin }}">{{ dataForm.qoute.label }}</option>
                    {% endfor %}
                    <option value = "0" selected>Seleccione una moneda...</option>
                </select>
                </label>
            </div>
            <div class="grid">
          
                <label for="amount_in">
                    {{ dataForm.amount_in.label}}
                <input id="amount_in" name="amount_in" placeholder="Cantidad" required>
                </label>
                
        
                <label for="qoute">
                    {{ dataForm.qoute.label }}
                <output id="qoute" name="qoute" placeholder="..." required>
                </label>
            </div>
            <div>
                <label>
                    {{ dataForm.pu.label }}
                <output id="qoute" name="qoute" placeholder="..." required>
                </label>
            </div>

          
            <!-- Button -->
            <button type="submit">{{ dataForm.Submit }}</button>
          
        </form>

          <article>
            <ul>
                {% for item in msg_error %}
                <li>{{item}}</li>
                {% endfor %}
            </ul>
          </article>
    </section>
{% endblock %}