{% extends "base.html" %}

{% block section %}
    <section class="container">
        <h1>Comprar</h1>
        <form action="/purchase" method="POST">
            {{ form.hidden_tag() }}
            <div class="grid">
                <label for="base">
                    {{ form.base.label }}
                    <select id="base" name="base" class="form-control" required>
                        {% for c in currencies %}
                        <option value="{{ coin }}">{{ coin }}</option>
                        {% endfor %}
                        <option value="0" selected>Seleccione una moneda...</option>
                    </select>
                </label>
                
                <label for="quote">
                    {{ form.quote.label }}
                    <select id="quote" name="quote" class="form-control" required>
                        {% for c in currencies %}
                        <option value="{{ coin }}">{{ coin }}</option>
                        {% endfor %}
                        <option value="0" selected>Seleccione una moneda...</option>
                    </select>
                </label>
            </div>
        
            <div class="grid">
                <label for="amount_base">
                    {{ form.amount_base.label }}
                    <input id="amount_base" name="amount_base" type="number" placeholder="Cantidad" required>
                </label>
                
                <label for="amount_qoute">
                    <h1>{{ aA }}</h1>
                </label>
        
                <label>
                    asdf
                    <output id="quote" name="quote" placeholder="..." required></output>
                </label>
            </div>
        
            <!-- Buttons -->
            <input type="submit" name = "Button" value="Calc" class="secondary">
            <input type="submit" name = "Button" value="confirm">
        </form>

          <article>
            <ul>
                {% for item in msg_error %}
                <li>{{item}}</li>
                {% endfor %}
            </ul>
          </article>
    </section>
{% endblock %}