{% extends "base.html" %}

{% block section %}
    <section class="container">
        <h1>Comprar</h1>
        <form action="/purchase" method="POST">

            <div class="grid">
                <label for="From">
                    Moneda De Entrada
                    <select id="From">
                        {% for coin in monedas %}
                          <option name = "From" value="{{ coin }}">{{ coin }}</option>
                        {% endfor %}
                    </select>
                </label>
                
          
                <label for="To">
                    Moneda De Salida 
                <select id="To" required>
                    {% for coin in monedas %}
                    <option name = "To" value="{{ coin }}">{{ coin }}</option>
                    {% endfor %}
                </select>
                </label>
            </div>
            <div class="grid">
          
                <label for="amount_in">
                    Cantidad De Entrada
                <input id="amount_in" name="amount_in" placeholder="Cantidad" required>
                </label>
                
        
                <label for="amount_out">
                    Cantidad De Salida
                <output id="amount_in" name="amount_in" placeholder="Cantidad" required>
                </label>
            </div>
            <div>
                <label>
                    P.U.
                </label>
            </div>

          
            <!-- Button -->
            <button type="submit">Submit</button>
          
          </form>

          <article>
            <ul>
                {% for item in msg_error %}
                <li>{{item}}</li>
                {% endfor %}
            </ul>
          </article>
    </section>
{% endblock %}