<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Inversiones crypto</title>
    <link rel="stylesheet" href="/static/pico.css">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <div>
            <nav>
                <ul>
                  <li><strong>App Inversiones Cripto</strong></li>
                </ul>
                <ul>
                  <li><a href="#">Link</a></li>
                  <li><a href="#">Link</a></li>
                  <li><a href="#" role="button">Inicio</a></li>
                  <li><a href="#" role="button">Comprar</a></li>
                  <li><a href="#" role="button">Estado</a></li>
                </ul>
              </nav>
        </div>
    </header>
    <section class="container">
        <h1>Lista de movimientos</h1>

        <table role="grid">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>From</th>
                    <th>Cantidad</th>
                    <th>To</th>
                    <th>Cantidad</th>
                    <th>Resultado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2023-05-18</td>
                    <td>18:12</td>
                    <td>BTC</td>
                    <td>1</td>
                    <td>EUR</td>
                    <td>7.625,15</td>
                    <td>Ni zorra</td>
                    <td>

                    </td>
                </tr>
            </tbody>
        </table>

    </section>
    <footer>
        <div class="container">
            &copy; 2023 MVP
        </div>     
    </footer>
</body>
</html>