{% extends "base.html" %}

{% block section %}
    <section class="container">
        <h1>Lista de movimientos</h1>
        
        <table role="grid">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>From</th>
                    <th>Cantidad</th>
                    <th>To</th>
                    <th>Cantidad</th>
                    <th>Resultado</th>
                </tr>
            </thead>
            <tbody>
                {% for movimiento in data %}
                <tr>
                    <td>{{movimiento.date}}</td>
                    <td>{{movimiento.time}}</td>
                    <td>{{movimiento.coin_from}}</td>
                    <td>{{movimiento.amount_from}}</td>
                    <td>{{movimiento.coin_to}}</td>
                    <td>{{movimiento.amount_to}}</td>
                    <td></td>
                    <td>

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </section>
{% endblock %}
